:root {
    --bg-page: #333333;
    --bg-box: #dcdde1;
    --box-teclado: #2f3640;
    --box-tela: #e3eef9;
    --box-botao-teclado: #292e33;
    --botao-branco: #fff;
    --botao-corrige: #ff841f;
    --botao-confirma: #7daa44;
    --borda-clara: #cccccc;
    --borda-escura: #444444;
    --cor-texto-claro: #eeeeee;
    --cor-texto-escuro: #333333;
}

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    border: 0;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:active {
    opacity: 0.5;
}